<footer class="pt-[186px]">
    <div class="container px-4 mx-auto">
        <div class="flex justify-center items-center">
            <img src="%=static=%img/content/logo.png" alt="" />
        </div>
        <div
            class="pt-[36px] text-blue100 text-[25px] leading-[37.65px] tracking-[0.75px] opacity-60 mx-auto max-w-[526px]"
        >
            It is a long established fact that a reader will be distracted by the readable
        </div>
        <ul
            class="pt-[47px] pb-[47px] border-b border-[#99BAED] mb-[98px] flex gap-[25px] justify-center items-center"
        >
            <li>
                <a
                    href=""
                    class="bg-[#D3E5FF] flex justify-center items-center rounded-full px-6 py-[15px] hover:bg-[#99BAED]"
                    >{{Icon iconName='fasebook' }}</a
                >
            </li>
            <li>
                <a
                    href=""
                    class="bg-[#D3E5FF] flex justify-center items-center rounded-full px-[18px] py-[21px] hover:bg-[#99BAED]"
                    >{{Icon iconName='twitter' }}</a
                >
            </li>
            <li>
                <a
                    href=""
                    class="bg-[#D3E5FF] flex justify-center items-center rounded-full px-5 py-[19px] hover:bg-[#99BAED]"
                    >{{Icon iconName='google' }}</a
                >
            </li>
        </ul>
    </div>
</footer>
