<section class="pt-[226px]">
    <div class="container px-4 mx-auto">
        <div class="flex gap-[100px]">
            <div class="ml-[-200px] max-w-[968px] h-auto">
                <img src="%=static=%img/content/history.jpg" class="w-full" alt="" />
            </div>
            <div class="pt-[111px]">
                <div class="text-blue100 text-[60px] font-bold leading-[105.42px] tracking-[2.1px]">
                    Our <span class="text-[#FBB400]">History</span>
                </div>
                <ul class="pt-20 flex flex-col gap-12">
                    <li class="text-[25px] leading-[37.65px] tracking-[0.75px] text-[#153461] opacity-60">
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page w hen looking at.
                    </li>
                    <li class="text-[25px] leading-[37.65px] tracking-[0.75px] text-[#153461] opacity-60">
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page w hen looking at.
                    </li>
                </ul>
                <div class="pt-[108px]">
                    <button
                        class="text-white text-xl font-bold leading-[30.12px] tracking-[0.6px] bg-light-blue rounded-[20px] px-[41px] pt-[23px] pb-5 flex justify-center items-center hover:bg-blue-600"
                    >
                        Learn more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
