<section class="pt-8">
    <div class="container px-4 mx-auto">
        <div class="flex gap-6">
            <div class="pt-[102px] max-w-[576px]">
                <div class="text-[70px] font-bold leading-[100.2px] text-blue100">
                    <span class="text-[#FBB400]">Hairstyle</span> Reflects The Personality Inside You
                </div>
                <div
                    class="pt-[29px] text-[25px] text-blue100 leading-[37.65px] tracking-[0.75px] opacity-[0.65]"
                >
                    It is a long established fact that a reader will be distracted by the readable content of
                    a page w hen looking at.
                </div>
                <div class="pt-[97px]">
                    <button
                        class="text-white text-xl font-bold leading-[30.12px] tracking-[0.6px] bg-light-blue rounded-[20px] px-[41px] pt-[23px] pb-5 flex justify-center items-center hover:bg-blue-600"
                    >
                        Get Started
                    </button>
                </div>
            </div>
            <div class="mr-[-315px]">
                <img src="%=static=%img/content/hero.jpg" alt="" />
            </div>
        </div>
    </div>
</section>
