<section class="pt-[272px]">
    <div class="container px-4 mx-auto">
        <div class="text-blue100 text-center text-[70px] font-bold leading-[81.62px] tracking-[2.1px]">
            Our <span class="text-[#FBB400]">Gallery</span>
        </div>
        <ul class="pt-[110px] grid grid-cols-3 gap-[37px]">
            <li>
                <a
                    href=""
                    class="flex justify-center items-center overflow-hidden relative after:content-[''] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:bg-bg100 after:z-10"
                >
                    <img
                        src="%=static=%img/content/photo1.png"
                        class="min-w-full min-h-full w-auto h-auto object-fill"
                        alt=""
                    />
                </a>
            </li>
            <li>
                <a
                    href=""
                    class="flex justify-center items-center overflow-hidden relative after:content-[''] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:bg-bg100 after:z-10"
                >
                    <img
                        src="%=static=%img/content/photo2.png"
                        class="min-w-full min-h-full w-auto h-auto object-fill"
                        alt=""
                /></a>
            </li>
            <li>
                <a
                    href=""
                    class="flex justify-center items-center overflow-hidden relative after:content-[''] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:bg-bg100 after:z-10"
                >
                    <img
                        src="%=static=%img/content/photo3.png"
                        class="min-w-full min-h-full w-auto h-auto object-fill"
                        alt=""
                    />
                </a>
            </li>
            <li>
                <a
                    href=""
                    class="flex justify-center items-center overflow-hidden relative after:content-[''] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:bg-bg100 after:z-10"
                >
                    <img
                        src="%=static=%img/content/photo4.png"
                        class="min-w-full min-h-full w-auto h-auto object-fill"
                        alt=""
                    />
                </a>
            </li>
            <li>
                <a
                    href=""
                    class="flex justify-center items-center overflow-hidden relative after:content-[''] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:bg-bg100 after:z-10"
                >
                    <img
                        src="%=static=%img/content/photo5.png"
                        class="min-w-full min-h-full w-auto h-auto object-fill"
                        alt=""
                    />
                </a>
            </li>
            <li>
                <a
                    href=""
                    class="flex justify-center items-center overflow-hidden relative after:content-[''] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:bg-bg100 after:z-10"
                >
                    <img
                        src="%=static=%img/content/photo6.png"
                        class="min-w-full min-h-full w-auto h-auto object-fill"
                        alt=""
                    />
                </a>
            </li>
        </ul>
        <div class="pt-[77px] flex justify-center">
            <button
                class="text-white text-xl font-bold leading-[30.12px] tracking-[0.6px] bg-light-blue rounded-[20px] px-[56px] pt-[23px] pb-5 flex justify-center items-center hover:bg-blue-600"
            >
                View All
            </button>
        </div>
    </div>
</section>
