<header class="py-[46px]">
    <div class="container px-4 mx-auto">
        <div class="flex justify-between gap-10 items-center">
            <div class="h-[91px] w-[163px] translate-y-[-35px] relative">
                <div class="absolute top-1/2 left-1/2 -ml-[81.5px] -mt-[45.5px] w-[163px] h-[102px]">
                    <img src="%=static=%img/content/logo.png" alt="" />
                </div>
            </div>
            <div>
                <nav>
                    <ul class="flex justify-between gap-12 items-center">
                        <li>
                            <a
                                href=""
                                class="font-medium text-[25px] leading-[33.4px] text-blue100 hover:text-white after:transition-colors relative after:content-[''] after:absolute after:right-[-14px] after:left-[-14px] after:bottom-[-8px] after:top-[-200px] after:bg-light-blue after:z-[-1] after:rounded-[5px] after:opacity-0 hover:after:opacity-100"
                                >Home</a
                            >
                        </li>
                        <li>
                            <a
                                href=""
                                class="font-medium text-[25px] leading-[33.4px] text-blue100 hover:text-white after:transition-colors relative after:content-[''] after:absolute after:right-[-14px] after:left-[-14px] after:bottom-[-8px] after:top-[-200px] after:bg-light-blue after:z-[-1] after:rounded-[5px] after:opacity-0 hover:after:opacity-100"
                                >History</a
                            >
                        </li>
                        <li>
                            <a
                                href=""
                                class="font-medium text-[25px] leading-[33.4px] text-blue100 hover:text-white after:transition-colors relative after:content-[''] after:absolute after:right-[-14px] after:left-[-14px] after:bottom-[-8px] after:top-[-200px] after:bg-light-blue after:z-[-1] after:rounded-[5px] after:opacity-0 hover:after:opacity-100"
                                >Service</a
                            >
                        </li>
                        <li>
                            <a
                                href=""
                                class="font-medium text-[25px] leading-[33.4px] text-blue100 hover:text-white after:transition-colors relative after:content-[''] after:absolute after:right-[-14px] after:left-[-14px] after:bottom-[-8px] after:top-[-200px] after:bg-light-blue after:z-[-1] after:rounded-[5px] after:opacity-0 hover:after:opacity-100"
                                >Gallery</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="flex justify-between items-center gap-[72px]">
                <div><a href="">{{Icon iconName='profile' }}</a></div>
                <div><a href="">{{Icon iconName='notification' }}</a></div>
                <button
                    class="text-white text-xl font-bold leading-[30.12px] tracking-[0.6px] bg-light-blue rounded-[20px] px-[33px] pt-[23px] pb-5 flex justify-center items-center hover:bg-blue-600"
                >
                    Appointment
                </button>
            </div>
        </div>
    </div>
</header>
