<section class="pt-[136px]">
    <div class="container px-4 mx-auto">
        <div
            class="max-w-[395px] mx-auto text-center text-blue100 font-bold text-[70px] leading-[81.62px] tracking-[2.1px]"
        >
            Services We <span class="text-[#FBB400]">Provide</span>
        </div>
        <div class="pt-[83px]">
            <ul class="flex gap-[49px]">
                <li
                    class="bg-[#FAFBFF] group flex flex-col justify-center items-center rounded-[29px] pt-[50px] px-[41px] pb-[72px] hover:bg-light-blue transition-colors shadow-4xl"
                >
                    <div
                        class="w-[103px] h-[126px] px-[23px] py-[30px] bg-[#E5ECFE] inline-block rounded-[13px] shadow-3xl"
                    >
                        {{Icon iconName='scissors' }}
                    </div>
                    <div
                        class="pt-[59px] group-hover:text-white text-blue100 text-[45px] font-bold leading-[52.47px] tracking-[1.35px]"
                    >
                        Hair Cut
                    </div>
                    <div
                        class="pt-[60px] text-center group-hover:text-white text-[25px] leading-[37.65px] tracking-[0.75px] opacity-60 text-[#153461] max-w-[359px]"
                    >
                        long established fact that a reacted by the readable content of hen looking at.
                    </div>
                </li>
                <li
                    class="bg-[#FAFBFF] group flex flex-col justify-center items-center rounded-[29px] pt-[50px] px-[41px] pb-[72px] hover:bg-light-blue transition-colors shadow-4xl"
                >
                    <div
                        class="w-[103px] h-[126px] px-[3px] py-[15px] bg-[#E5ECFE] inline-block rounded-[13px] shadow-3xl"
                    >
                        {{Icon iconName='clipper' }}
                    </div>
                    <div
                        class="pt-[59px] group-hover:text-white text-blue100 text-[45px] font-bold leading-[52.47px] tracking-[1.35px]"
                    >
                        Beard Cut
                    </div>
                    <div
                        class="pt-[60px] group-hover:text-white text-center text-[25px] leading-[37.65px] tracking-[0.75px] opacity-60 text-[#153461] max-w-[359px]"
                    >
                        long established fact that a reacted by the readable content of hen looking at.
                    </div>
                </li>
                <li
                    class="bg-[#FAFBFF] group flex flex-col justify-center items-center rounded-[29px] pt-[50px] px-[41px] pb-[72px] hover:bg-light-blue hover:group-[]: transition-colors shadow-4xl"
                >
                    <div
                        class="w-[103px] h-[126px] px-[19px] py-[30px] bg-[#E5ECFE] inline-block rounded-[13px] shadow-3xl"
                    >
                        {{Icon iconName='cleanser' }}
                    </div>
                    <div
                        class="pt-[59px] group-hover:text-white text-blue100 text-[45px] font-bold leading-[52.47px] tracking-[1.35px]"
                    >
                        Facial Pack
                    </div>
                    <div
                        class="pt-[60px] group-hover:text-white text-center text-[25px] leading-[37.65px] tracking-[0.75px] opacity-60 text-[#153461] max-w-[359px]"
                    >
                        long established fact that a reacted by the readable content of hen looking at.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
